httpdocs/.htaccess
httpdocs/wp-config.php
httpdocs/wp-content/uploads/
httpdocs/wp-content/blogs.dir/
httpdocs/wp-content/upgrade/
httpdocs/wp-content/backup-db/
httpdocs/wp-content/advanced-cache.php
httpdocs/wp-content/wp-cache-config.php
httpdocs/sitemap.xml
httpdocs/*.log
httpdocs/wp-content/cache/
httpdocs/wp-content/backups/
httpdocs/sitemap.xml
httpdocs/sitemap.xml.gz